.navbar-container {
  position: fixed;
  right: 0;
  color: white;
  display: grid;
  grid-template-areas:
    "button wantlist"
    "button wantlist";
}

.headerBtn {
  background-color: black;
  cursor: pointer;
  grid-area: button;
  padding: 1rem;
  transition: transform 250ms ease-in-out;
}

.want-list {
  background-color: black;
  display: grid;
  grid-template-areas:
    "header header header"
    "container container container";
  grid-area: wantlist;
  transition: transform 250ms ease-in-out;
}

.want-list h1 {
  background-color: black;
  font-size: 3rem;
  grid-area: header;
}

.character-container img {
  height: 170px;
}
.character-container div {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
}

.open {
  transform: translateX(0);
}

.want-list.closed {
  transform: translateX(100%);
}

.headerBtn.open {
  transform: translateX(0);
}

.headerBtn.closed {
  transform: translateX(980%);
}
