.navbar-container {
  position: fixed;
  right: 0;
  background-color: black;
  color: white;
}

.navbar-container h1 {
  padding-left: 0.5rem;
  font-size: 3rem;
}

.want-list {
  display: flex;
}

.character-container img {
  height: 150px;
}
.character-container div {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
}
