.notification-container {
  font-size: 1.1rem;
  display: none;
  position: fixed;
  transform: translate(-50%, 0);
  left: 50vw;
  top: 2vw;
  /* background-color: #db1b11; */
  padding: 10px 50px;
  border-radius: 5px;
  z-index: 999;
}
